<label>Email:</label><input type="text" id="email" placeholder="email@example.com"></input><br/>
<label>Password:</label><input type="password" id="password" placeholder="password"></input><br/>
<input type="hidden" id="access_token" value="<%= @access_token %>"></input>
<input type="hidden" id="expiration" value="<%= @expiration %>"></input>
<input type="hidden" id="refresh_token" value="<%= @refresh_token %>"></input>
<button id="create_user_submit">Register</button>
