<label>Email:</label><input type="text" id="email" placeholder="email@example.com"></input><br/>
<label>Password:</label><input type="password" id="password" placeholder="password"></input><br/>
<input type="hidden" id="code" value="<%= @code %>"></input><br/>

<button id="create_user_submit">Register</button>

