<% if current_user %>
	Local Email: <%= current_user.email %>
<br/>

<br/>

Playlists:</br>
<ul id="all-playlists">
<% current_user.playlists.each do |playlist| %>
<li class="single-playlist" id="<%= playlist.id %>"><%= playlist.name %></li>
<% end %></ul>
</br>
<input type="text" id="new-playlist-name" placeholder="Untitled Playlist"></input>
<button id="create-playlist">Create Playlist </button>


<div id="main-container">
</div>


<br/>
	<%= link_to 'Logout', destory_session_path %>


<% else %>
<br/>
<h1>Register for Apollo</h1>
<label>Email:</label><input type="text" id="email" placeholder="email@example.com"></input><br/>
<label>Password:</label><input type="password" id="password" placeholder="password"></input><br/>
<button id="create_user_submit">Register</button>
<% end %>