$(document).ready(function(){

  var html = "<ul> <% @playlist.songs.each do |song| %><li><%= song.title %>,<%= song.artist %>,<%= song.url %></li><% end %></ul>"
  
  $('#main-container').append(html);
});